<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/submain/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/submain/css/styles.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <header class="masthead" style="background-image: url('/submain/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Board</h1>
                        <span class="subheading">
                            Feel free to share your opinion</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <p style="padding: 18px;">
                        <h1 class="headline">
                            <%=rows.title %>
                        </h1>
                        </p>
                        <br>
                        <br>
                        <form method="post">
                            <table border="1">
                                <input type="hidden" name="idx" value="<%=rows.idx%>" />
                                <div class="form-floating">
                                    <input class="form-control" name="name" type="text" value="<%= rows.name %>"
                                        data-sb-validations="required" />
                                    <label for="name">작성자</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="title" type="text" value="<%=rows.title%>"
                                        data-sb-validations="required" />
                                    <label for="email">제목</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="content" id="message" style="height: 12rem"
                                        data-sb-validations="required"><%=rows.content%></textarea>
                                    <label for="message">내용</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="modidate" type="text" value="<%=rows.modidate%>"
                                        data-sb-validations="required" />
                                    <label for="email">변경일</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="regdate" type="text" value="<%=rows.regdate%>"
                                        data-sb-validations="required" />
                                    <label for="email">등록일</label>
                                </div>
                                <br />
                                <br />

                                <div class='headline'>
                                        <button type="submit" class="btn btn-outline-success"
                                                onclick="location.href='/board/page'">목록으로</button>
                                </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer class="border-top">
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/submain/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>